<% include ./partials/header %>
<div class="ui main text container segment">
<div class="ui huge header"><%= blogg.title %></div>
  <img class="ui bordered medium image" src="<%= blogg.image %>" >
    <span><%= blogg.created %></span>
  <p><%= blogg.body %></p>
</div>
<% include ./partials/header %>